#imperium {
  background-color: darkblue;
}

#orks {
  background-color: darkgreen;
}

#chaos {
  background-color: darkred;
}

#tyranid {
  background-color: brown;
}

#eldar {
  background-color: yellow;
}

#darkEldar {
  background-color: purple;
}
