

#imperium {
  background-color: darkblue;
}

#orks {
  background-color: darkgreen;
}

#chaos {
  background-color: darkred;
}

#tyranid {
  background-color: brown;
}

#eldar {
  background-color: yellow;
}

#darkEldar {
  background-color: purple;
}

h1 {
  text-align: center;
  font-family: Georgia;
  color: black;
  font-weight: bold;
}

h2 {
  color: white;
  font-family: Garamond;
}
